# Packages
node_modules/
dist/
.scannerwork
.idea

# Log files
logs/
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# IDE
.vscode/

# Docker (experimental)
docker/
deploy/
Dockerfile
.dockerignore

# Env file
.env

# Test files

# Command files (unfinished)
*.bak

# Miscellaneous
.tmp/
.github/
.travis.yml
LICENSE

# Git
.github
.git
.gitattributes
.gitignore

# local db folder
db/
