name: Build
# This workflow is triggered only for tags starting with v
on:
  push:
    tags:
      - "v*"

jobs:
  build:
    name: Docker build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Get Tag Version
        id: tag_version
        run: |
          echo ::set-output name=SOURCE_TAG::${GITHUB_REF#refs/tags/}

      - name: Build frontend
        uses: docker/build-push-action@v2
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          file: Frontend.Dockerfile
          push: true
          build-args: |
            VERSION=${{ steps.tag_version.outputs.SOURCE_TAG }}
            NX_BASE_URL=${{ secrets.NX_BASE_URL }}
            NX_PORT=${{ secrets.NX_PORT }}
            NX_GQL_URL=${{ secrets.NX_GQL_URL }}
            NX_APP_NAME=${{ secrets.NX_APP_NAME }}
            SESSION_SECRET=${{ secrets.SESSION_SECRET }}
            RATELIMIT_TIMESPAN_IN_MINUTES=${{ secrets.RATELIMIT_TIMESPAN_IN_MINUTES }}
            NX_AUTH0_DOMAIN=${{ secrets.NX_AUTH0_DOMAIN }}
            NX_AUTH0_CLIENT_ID=${{ secrets.NX_AUTH0_CLIENT_ID }}
            NX_AUTH0_CALLBACK_URL=${{ secrets.NX_AUTH0_CALLBACK_URL }}
            NX_AUTH0_SCOPES=${{ secrets.NX_AUTH0_SCOPES }}
            NX_AUTH0_AUDIENCE=${{ secrets.NX_AUTH0_AUDIENCE }}
            NX_APP_ENV=production
          tags: ${{ secrets.DOCKER_USERNAME }}/sus-frontend,${{ secrets.DOCKER_USERNAME }}/sus-frontend:${{ steps.tag_version.outputs.SOURCE_TAG }}

      - name: Build backend
        uses: docker/build-push-action@v2
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          file: Backend.Dockerfile
          push: true
          build-args: |
            VERSION=${{ steps.tag_version.outputs.SOURCE_TAG }}
          tags: ${{ secrets.DOCKER_USERNAME }}/sus-backend,${{ secrets.DOCKER_USERNAME }}/sus-backend:${{ steps.tag_version.outputs.SOURCE_TAG }}
